<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>ZFlow needs camera access to scan receipts and invoices</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ZFlow needs photo library access to select receipt images for scanning</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zflow</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
